.main-container {
    margin: auto;
    background-image: url("images/drumkit.jpg");
    width: 1280px;
    height: 907px;
}

.drum {
    font-size: 40px;
    font-weight: bold;
}

.drum.edited {
    color: blue;
    font-size: 40px;
    font-weight: bold;

}
#kick {
    position: relative;
    left: 640px;
    top: 600px;
}

#snare {
    position: relative;
    left: 860px;
    top: 330px;
}

#hihat {
    position: relative;
    left: 1000px;
    top: 240px;
}

#crash {
    position: relative;
    left: 820px;
    top: 0px;
}

#ride {
    position: relative;
    left: 350px;
    top: -80px;
}

#tom1 {
    position: relative;
    left: 725px;
    top: -20px;
}

#tom2 {
    position: relative;
    left: 500px;
    top: -70px;
}

#tom3 {
    position: relative;
    left: 400px;
    top: 0px;
}